body {
	display: flex;
	justify-content: center;
}

h1 {
	display: flex;
	justify-content: center;
}

#playerListContainer {
	display: flex;
	flex-direction: column;
	margin-top: .75em;
}

.player {
	display: inline-flex;
	margin-top: .75em;
	font-size: 30px;
}

.player input {
	font-size: 25px;
	height: 1.25em;	
	width: 7em;
}

.position {
	margin-left: .5em;
}

/* buttons */
#buttonsContainer {
	display: flex;
}

#buttonsContainer button, #randomize  {
	flex-grow: 1;
}

#randomize {
	margin-left: 1em;
	margin-right: 1.5em;
}